spec:
  customContainerImages:
    watcherAPIImage: quay.io/openstack-k8s-operators/openstack-watcher-base:master-latest
    watcherApplierImage: quay.io/openstack-k8s-operators/openstack-watcher-base:master-latest
    watcherDecisionEngineImage: quay.io/openstack-k8s-operators/openstack-watcher-base:master-latest
