---
apiVersion: v1
kind: Secret
metadata:
  labels:
    service: cinder
    component: cinder-volume
  name: {{ name }}
type: Opaque
stringData:
  {{ name }}: |
    [nfs]
    nas_host={{ cifmw_nfs_ip }}
    nas_share_path={{ '/data/' + share }}
